.hostButton{
    height: 40px;
    width: 100px;
    border-radius: 100px;
    border: none;
    background-color: white;
    font-size: 100%;
}

.hostButton:hover {
    background-color: rgb(230, 230, 230);
}