.hostButton {
    height: 40px;
    width: 100px;
    border-radius: 100px;
    border: none;
    background-color: white;
    font-size: 100%;
}

.hostButton:hover {
    background-color: rgb(230, 230, 230);
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-header {
    height: 70px;
    margin-bottom: 60px;
    font-weight: 600;
    font-size: 18px;
    border-bottom: 1px solid rgb(192, 192, 192);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-div {
    height: 600px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.second-form-div {
    width: 500px;
}

.createSpotForm {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.host-input {
    height: 40px;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 12px;
    font-size: 16px;
}

.city-state {
    display: flex;
    justify-content: space-between
}

.country-price {
    display: flex;
    justify-content: space-between
}

.host-input1 {
    height: 40px;
    width: 48%;
    margin-bottom: 15px;
    border-radius: 12px;
    font-size: 16px;
}

textarea {
    border: solid black 2px;
    resize: none;
}

.host-input-description {
    height: 80px;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 12px;
    font-size: 18px;
}

.hostButton1 {
    margin-left: 150px;
    margin-top: 40px;
    height: 50px;
    width: 200px;
    border-radius: 12px;
    border: 1px solid gray;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: rgb(219, 12, 100);
}

.hostButton1:hover {
    box-shadow: 5px 5px 5px 4px rgba(0, 0, 0, 0.2);
}