.userReview-card {
    /* border: 1px red solid; */
    display: flex;
    width: 100%;
}

.buttonAndReviewInfo {
    height: 300px;
    /* border: solid green 1px; */
}

.userReviewImage {
    width: 300px;
    height: 200px;
    margin-right: 20px;
}

.userReviewInfoOnly {
    padding: 30px 0 70px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 18px;
}