.big-container {
    /* border: solid 1px black; */
    width: 100%;
    height: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
}

.small-container {
    /* border: solid 1px black; */
    width: 1200px;
    height: 100%;
    display: flex;

}

.heading-container {
    /* border: solid 1px red; */
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
}

.userSpotImageInformation {
    /* border: black solid 1px; */
    border-bottom: 1px solid rgb(192, 192, 192);
    padding-bottom: 30px;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-between;
}

.userSpotImage {
    border-radius: 12px;
    margin-right: 10px;
    height: 250px;
    width: 350px;
}

.userSpotInfoOnly {
    width: 600px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 18px;
}

.clickingDiv {
    cursor: pointer;
}

.buttonAndInfo {
    /* border: black solid 1px; */
    display: flex;
}

.editDeleteButtonContainer {
    padding: 60px 0;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


/* Starting Fresh */

.yourSpotsBigContainer {
    /* border: solid 1px black; */
    width: 100%;
    height: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
}

.yourSpotsSmallContainer {
    /* border: solid 1px red; */
    width: 65%;
    height: 100%;
}

.yourSpotsHeading {
    /* border: solid 1px green; */
    height: 45px;
    width: 100%;
    margin: 20px 0;
    padding-left: 20px;
}

.yourSpotsHeading>h1 {
    margin: 0;
}

.yourSpotsBox {
    /* border: solid 1px purple; */
    width: 100%;
    display: flex;
    flex-direction: column;
}

.oneYourSpotBox {
    /* border: solid 1px black; */
    border-bottom: 1px solid rgb(192, 192, 192);
    width: 100%;
    height: 230px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    display: flex;
}

.oneYourSpotImageDesc {
    /* border: solid 1px blue; */
    height: 100%;
    width: 80%;
    display: flex;
}

.oneYourSpotImage {
    /* border: solid 1px pink; */
    width: 30%;
}

.oneYourSpotImage>img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.oneYourSpotDescription {
    /* border: solid 1px green; */
    width: 70%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.oneSpotName {
    width: 100%;
    height: 25%;
}

.oneSpotName>h2 {
    margin: 0;
}

.oneSpotDescription {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.oneSpotPrice {
    height: 15%;
}

.oneSpotPrice>span {
    font-weight: 600;
}

.oneYourSpotButtons {
    width: 20%;
}

